* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    
    height: 100vh;
    color:white;
    background: #EBF2F5;
    
}

:root {
    font-size: 62.5%;

}

.img-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.img-container-p img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

body, input, button, textarea {
    /* font-weight: 400px;
    font-size: 18px;
    line-height: 1;
    font-family: 'Nunito', sans-serif; */

    font: 400 1.8rem/1 'Nunito', sans-serif;
}

