
.nav-list {

    margin-top: 6%;
    list-style: none;
    display: flex;
  }
  
  
ul li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
ul a {
    color: #fff;
    font-size: 80%;
    text-decoration: none;
    transition: 0.3s;
  }
  
ul a:hover {
    opacity: 0.7;
  }